@use './index' as *;

.resume-page {
    opacity: 0;
    position: fixed;
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
    z-index: 6;
    background-color: rgba($color: $color-oscuro, $alpha: 0.32);
    @include showTransition;
    &__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $color-primario;
        width: 90%;
        min-height: 200px;
        gap: 16px;
        padding: 12px;
        text-align: center;
        font-weight: 700;
        @include centerBoxShadow;
        h3 {
            font-size: 1.6rem;
        }
        p {
            font-size: 1.2rem;
            color: $color-secundario;
        }
        button {
            @include stylesButton;
            color: white;
            background-color: $color-secundario;
            font-size: 1.6rem;
        }
    }
}

.show {
    bottom: 0;
    opacity: 1;
}