* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: fixed;
  width: 100vw;
  height: 100vh;
  margin: 0;
  min-height: 100vh;
  font-size: 62.5%;
  color: #13262F;
  font-family: "Sarabun", sans-serif;
  background-color: #B5E2FA;
  background-attachment: fixed;
  background-image: -moz-linear-gradient(45deg, #B5E2FA, #0FA3B1);
  background-image: -o-linear-gradient(45deg, #B5E2FA, #0FA3B1);
  background-image: -webkit-linear-gradient(45deg, #B5E2FA, #0FA3B1);
  background-image: linear-gradient(45deg, #B5E2FA, #0FA3B1);
}

a {
  text-decoration: none;
}

p, figure {
  margin: 0;
}

.move {
  transform: translateY(-100%);
}

button {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.intro {
  width: 100%;
  height: 100vh;
  transition: transform 0.5s;
}
.intro__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 0 5%;
  gap: 32px;
}
.intro__content h1 {
  font-size: 2.8rem;
  text-align: center;
}
.intro__content p {
  font-size: 1.6rem;
  text-align: start;
}
.intro__content button {
  width: 100%;
  max-width: 400px;
  padding: 8px;
  border: none;
  background-color: #0FA3B1;
  font-size: 2rem;
  font-weight: 700;
  color: #B5E2FA;
  box-shadow: 0px 0px 8px 0px rgba(19, 38, 47, 0.8);
}

.gameplay {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: max-content auto auto;
  place-items: center;
  transition: transform 0.5s;
}
.gameplay__canvas {
  border: none;
  aspect-ratio: 1/1;
  box-shadow: 0px 0px 8px 0px rgba(19, 38, 47, 0.8);
}
.gameplay__btns {
  min-height: 140px;
  height: 100%;
  width: 96%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 8px;
}
.gameplay__btns button {
  aspect-ratio: 1/1;
  border: none;
  background-color: #0FA3B1;
  font-size: 2rem;
  font-weight: 700;
  color: #B5E2FA;
  box-shadow: 0px 0px 8px 0px rgba(19, 38, 47, 0.8);
}
.gameplay__btns #up {
  grid-column: 2/3;
  align-self: end;
}
.gameplay__btns #left {
  grid-column: 1/2;
  grid-row: 2/3;
}
.gameplay__btns #down {
  grid-column: 2/3;
  grid-row: 2/3;
}
.gameplay__btns #right {
  grid-column: 3/4;
  grid-row: 2/3;
}
.gameplay__messages {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 50% 50%;
  place-items: center;
  font-size: 1.2rem;
}
.gameplay__messages p {
  text-align: center;
}

@media (min-width: 360px) {
  .gameplay__btns button {
    aspect-ratio: auto;
  }
  .gameplay__btns #up {
    align-self: auto;
  }
}
@media (orientation: portrait) {
  .gameplay__canvas {
    width: 100%;
  }
}
@media (orientation: landscape) {
  .gameplay {
    grid-template-columns: max-content auto;
    grid-template-rows: auto auto;
  }
  .gameplay__canvas {
    grid-area: 1/1/3/2;
    height: 100%;
    max-height: 60vw;
  }
}
.resume-page {
  opacity: 0;
  position: fixed;
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 6;
  background-color: rgba(19, 38, 47, 0.32);
  transition: opacity 0.5s;
}
.resume-page__container {
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0FA3B1;
  min-height: 200px;
  gap: 16px;
  padding: 12px;
  text-align: center;
  font-weight: 700;
  box-shadow: 0px 0px 8px 0px rgba(19, 38, 47, 0.8);
}
.resume-page__container h3 {
  font-size: 1.6rem;
}
.resume-page__container p {
  font-size: 1.2rem;
  color: #B1740F;
}
.resume-page__container button {
  box-shadow: 0px 0px 8px 0px rgba(19, 38, 47, 0.8);
  width: 100%;
  max-width: 400px;
  padding: 8px;
  border: none;
  background-color: #0FA3B1;
  font-size: 2rem;
  font-weight: 700;
  color: #B5E2FA;
  color: white;
  background-color: #B1740F;
  font-size: 1.6rem;
}

.show {
  bottom: 0;
  opacity: 1;
}

@media (orientation: portrait) {
  .resume-page__container {
    width: 90%;
    max-width: 500px;
  }
}
@media (orientation: landscape) {
  .resume-page__container {
    height: 90%;
    max-height: 500px;
  }
}

/*# sourceMappingURL=style.css.map */
